#floats{
  background-color: #cbd9ef;
}

article{
  box-sizing: border-box;
  border: 1px black solid;
  height: 100px;
  width: 100px;
}
div{
  box-sizing: border-box;
  border: 1px blue dotted;
  height: 100px;
  width: 100px;
}

nav{
  border: 1px black solid;
  height: 100px
  width: 500px;
}

#flexbox{
  background-color: #207228;
}

#grid{
  background-color: #c38fd8;
}

#floats nav{
  background-color: red;
}
